//デスクトップのみ表示
.u-desktop {
  display: none;
  @include mq("lg") {
    display: block;
  }
}

//モバイルのみ表示タブレット含む1024px以上対応
.u-mobile {
  @include mq("lg") {
    display: none;
  }
}

//タブレット以下のみ表示
.u-tablet {
  @include mq("md") {
    display: none;
  }
}

//タブレット以下は表示せず、PC以上のみ表示
.o-tablet {
  display: none;
  @include mq("md") {
    display: block;
  }
}
